aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
colorama==0.4.6
charset-normalizer==3.4.7
cryptography==47.0.0
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-auth-oauthlib==1.3.1
googleapis-common-protos==1.74.0
httplib2==0.31.2
frozenlist==1.8.0
idna==3.13
keepa==1.4.4
multidict==6.7.1
numpy==2.4.4
oauthlib==3.3.1
openpyxl==3.1.5
proto-plus==1.27.2
protobuf==7.34.1
pandas==3.0.0
propcache==0.4.1
psycopg==3.3.3
psycopg-binary==3.3.3
pydantic==2.13.3
pydantic-core==2.46.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.1
uritemplate==4.2.0
urllib3==2.6.3
yarl==1.23.0
